.hero-frame {
    margin: 89px 0 0 0;
    /* padding: 0 12rem; */
    padding: 0 12vw;
}

.hero {
    display: flex;
    padding: 40px 0;
}

.h1,
.h3 {
    margin-top: 1rem;
}



.right,
.left {
    flex-basis: 50%;
}



.p {
    color: var(--body-color);
    margin-top: 1rem;
    line-height: 1.8rem;
}

#resume {
    width: 18rem;
    margin-top: 30px;
    height: 3rem;
    padding: 7px;

}

#resume:hover {
    background: var(--gradient-color) padding-box,
        var(--gradient-color) border-box;
}


#resume a {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    font-family: var(--Title-font);
    font-size: 1.6em;
}

#resume:hover #skill-section {
    /* fallback color */
    background-color: #ffffff;

    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.right {
    text-align: center;
    position: relative;
    top: 5em;
}

.right img {
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 0 400px var(--purple-color);
}

#style-text {
    color: aqua;
    font-size: 2.5rem;
    font-family: var(--Title-font);
}

/* style typewriter */
.Typewriter__wrapper {
    font-size: 2.5rem;
    font-family: var(--Title-font);
    /* fallback color */
    background-color: var(--violet-color);
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.Typewriter {
    display: inline;
}

.Typewriter__cursor {
    color: var(--purple-color);
}

@media only screen and (max-width: 1035px) {
    .hero {
        flex-direction: column-reverse;
    }

    .right {
        margin-bottom: 120px;
    }

    .left {
        text-align: center;
    }

    #resume {
        margin: 30px auto;
    }
}

@media only screen and (max-width: 376px) {
    .right img {
        height: 80vw;
    }
}